@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "poppins", sans-serif;
  margin: 0;
  background-color: #ffffff;
  padding-top: 60px;
  overflow: hidden;
  overflow-y: scroll; /* Add the ability to scroll */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  text-align: center;
}
body::-webkit-scrollbar {
  display: none;
}

nav {
  height: 10vh;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: #ffff;
  /* Add padding to the top and bottom */
}

nav .mainMenu {
  display: flex;
  list-style: none;
}

nav .mainMenu li {
  position: relative;
}

nav .mainMenu li a {
  position: relative;
  margin-right: 50px;
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 18px;
  transition: 0.1s ease;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.54px;
}

nav .mainMenu li a:hover {
  background-color: #053b50;
  color: white;
  padding: 15px;
  border-radius: 30px;
}

nav .openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}

nav .mainMenu .closeMenu,
.icons i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}
.fa-envelope{
  color: #fff;
}
.fa-facebook {
  color: #fff;
}

.fa-twitter {
  color: #fff;
}

.fa-instagram {
  color: #fff;
}

.fa-linkedin {
  color: #fff;
}

nav .logo img {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* This maintains the image's aspect ratio */
  margin-left: 35px;
  margin-top: 10px;
  cursor: pointer;
  text-transform: uppercase;
}

#active {
  background-color: #053b50;
  padding: 15px;
  border-radius: 30px;
  color: white;
}

@media (max-width: 800px) {
  nav {
    height: 11vh;
  }
  nav .logo img {
    margin-bottom: 10px;
    margin-left: 0px;
  }
  nav .mainMenu li {
    margin-left: 50px;
  }
  nav .mainMenu li a{
    color: #fff;
  }
  nav .mainMenu {
    height: 92vh;
    position: fixed;
    top: 10;
    right: 0;
    left: 0;
    z-index: 5;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #053b50;
    transition: top 1s ease 0s;
    display: none;
  }

  nav .mainMenu.show {
    display: flex;
  }

  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 40px;
    right: 20px;
  }

  nav .openMenu {
    display: block;
  }

  nav .mainMenu li a:hover {
    background: #ffffff;
    color: #000000;
  }

  .icons i {
    display: inline-block;
    padding: 12px;
    margin-top: 15px;
  }
}

/* Add CSS styles for the sliding animation */
.herosection {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.mySlides {
  height: 100vh;
  display: none;
  width: 100%;
  transition: transform 1s;
  transform: translateX(0);
}

/* Slideshow container */
.slideshow-container img {
  opacity: 0.8;
}


/* Caption text */
.text {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  color: #ffffff;
  font-size: 50px;
  padding: 8px 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

/* Fading animation */
.fade {
  animation-name: slide;
  animation-duration: 1s;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 550px) {
  .slideshow-container {
    height: 50vh;
  }
  .mySlides {
    height: 50vh;
  }
  /* Slideshow container */
  .slideshow-container img {
    height: 50vh;
  }
  .text {
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    color: #ffffff;
    font-size: 20px;
}
}
#about {
  height: 300px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  color: white; /* Added to allow flex items to wrap on smaller screens */
}

.welcome {
  width: 100%;
  background-color:#fff;

  color: black;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.welcome p {
  font-size: 1rem;
  margin: 10px;
}

.welcome button {
  background-color: #053b50;
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 20px;
  padding-left: 20px;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 500;
  transition: ease 0.1s;
}

.welcome button:hover {
  padding: 20px;
background-color:#053B50;}


@media only screen and (max-width: 550px) {
  #about {
    margin-top: 30px;
    flex-direction: column;
    width: 100%;
  }
  .welcome {
    width: 100%;
    text-align: center;
  }
  .welcome h1 {
    font-size: 2rem;
  }
  .welcome p {
    font-size: 1rem;
  }

 
}
/* Add this animation keyframes definition */
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply the animation to the scroll-animation class */
.scroll-animation {
  animation: fade-in 1s ease-out;
  animation-fill-mode: forwards;
  opacity: 0; /* Set initial opacity to 0 to start hidden */
}
/* Define the animation */
@keyframes text-fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply the animation to the "text-animation" class */
.text-animation {
  animation: text-fade-in 1s ease-out;
  animation-fill-mode: forwards;
  opacity: 0; /* Set initial opacity to 0 to start hidden */
}
.what {
  margin-top: 50px;
  text-align: center;
  font-size: 4rem;
  color: #053b50;
  font-family: "Poppims", sans-serif;
}

:root {
  --card-height: 300px;
  --card-width: calc(var(--card-height) / 1.5);
}

#offer {
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.heading hr {
  color: #000000;
  margin-top: 10px;
}
.ag-format-container {
  margin-top: 50px;
  width: 100%;
}
/* Add this CSS to your existing style.css file or create a new one */

/* Flex container for the course items */
.ag-courses_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the items horizontally */
}

/* Style adjustments for each course item */
.ag-courses_item {
  width: 100%; /* Set a fixed width for each item */
  margin: 10px 0; /* Add some margin for spacing */
}

.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #053b50;

  overflow: hidden;

  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #fff;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #fff;

  z-index: 2;
  position: relative;
}
.ag-courses-item_title p {
  font-size: 15px;
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #fff;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}

@media only screen and (max-width: 1100px) {
  .ag-format-container {
    margin-top: 50px;
  }
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }

  .what {
    font-size: 2rem;
    margin-top: 80px;
  }
}

@media only screen and (max-width: 850px) {
  #offer {
    margin-top: 100px;
  }
  .ag-format-container {
    width: 96%;
    margin-top: 50px;
  }
  .ag-format-container {
    margin-top: 10px;
  }
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}

@media only screen and (max-width: 520px) {
  #offer {
    margin-top: 0;
  }
  .ag-format-container {
    margin-top: 10px;
  }
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}

.what2 {
  margin-top: 50px;
  text-align: center;
  font-size: 4rem;
  color: #053b50;
  font-family: "Poppims", sans-serif;
}
.heading2 hr {
  color:#053b50;
  margin-top: 10px;
  width: 30%;
margin: auto;}

#choose {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

 #choose .section1{
  width: 33.33%;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  background-color: #ffffff;
}
#choose .section2{
  width: 33.33%;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  background-color: #ffffff;
}
.section2 .client-img{
height: 400px;
width: 400px;
}

.undpic{
  font-size: 1.2rem;
  text-align: center;
}

.undpic button{
  margin-top: 10px;
  font-size: 1.2rem;
  background-color: #053b50;
  color: #fff;
  padding: 10px;
  border-radius: 50px;
  box-shadow: none;
transition: .2s ease;
}
.undpic button:hover{
  background-color: #053B50;
  padding: 15px;
}
#choose .section3{
  width: 33.33%;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  background-color: #ffffff;
}
.container2 {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.container-item2 {
  text-align: center;
}

.container-item2 img {
  height: 50px;
  width: 50px;
}
/* Your existing styles */

/* Add this code at the end of your CSS */

@media only screen and (max-width: 768px) {
  .section2 .client-img img {
    max-width: 100%;
    height: auto;
  }


  #choose .section1,
  #choose .section2,
  #choose .section3 {
    width: 100%; /* Change the width to 100% for each section on smaller screens */
  }

  .section2 .client-img {
    height: auto;
    width: 100%;
    /* Allow the height to adjust automatically */
    flex-direction: column; /* Display the content in a column */
  }
  
  .undpic {
    text-align: center; /* Center the text content */
    padding: 20px; /* Add some padding for better readability */
  }

  .undpic button {
    display: block; /* Make the button a block element */
    margin: 20px auto; /* Center the button */
    text-decoration: none;
  }

  #choose .section1,
  #choose .section2,
  #choose .section3 {
    height: auto; /* Allow the sections to adjust their height */
    margin-bottom: 20px; /* Add spacing between sections */
  }
.what2
  
{
    font-size: 2rem;
}
  .heading2 hr {
    color:#053b50;
    margin-top: 10px;
    width: 70%;
  margin: auto;}
}


#contact {
  height: 600px;
  margin-top: 170px;
  color: white; /* Added to allow flex items to wrap on smaller screens */
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
}

.contacts {
  flex: 1;
  background-color: #053B50;
  color: black;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts h1 {
  font-size: 2.5rem;
}

.contacts p {
  margin: 20px;
  font-size: 1rem;
}

.form-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#services,
form input,
form select {
  margin: 5px;
  padding: 8px;
  width: 80%; /* Set the width to 100% for consistent width */
  height: 50px; /* Set the height to 50px for consistent height */
  border-radius: 30px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.1s ease;
  font-size: 1rem;
}

button:hover {
  background-color: #ffffff;
  padding: 15px 20px;
}

.contpic {
  flex: 1;
  color: black;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.contpic img {
  max-width: 100%;
  max-height: 100%;
}

@media only screen and (max-width: 800px) {
  .contact-container {
    flex-direction: column;
  }
  #contact {
    height: auto;
  margin-top: -10px;
    
  }
  #services,
form input,
form select {
  margin-top: 10px;
}
.contacts{
  height: auto;
}
.contpic {
  height: 800px;


}
#service button{
  margin-bottom: 10px
}

}







.text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
}

.responsive-cell-block {
  min-height: 75px;
}

.responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: space-evenly;
}

.outer-container {
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-left: 50px;
  background-color: rgb(255, 255, 255);
}

.inner-container {
  max-width: 1320px;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
}

.section-head-text {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  color: #053b50;
  margin: 0 0 10px 0;
}

.section-subhead-text {
  font-size: 25px;
  color: #053b50;
  line-height: 35px;
  max-width: 470px;
  text-align: center;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 60px;
  margin-left: 0px;
}

.img-wrapper {
  width: 100%;
}

.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media-links {
  width: 125px;
  display: flex;
  justify-content: space-between;
}

.name {
  font-size: 25px;
  font-weight: 700;
  color: #053b50;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
}

.position {
  font-size: 25px;
  font-weight: 700;
  color: #053b50;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}

.team-img {
  width: 100%;
  height: 100%;
}

.team-card-container {
  width: 280px;
  margin: 0 0 40px 0;
}

@media (max-width: 500px) {
  .outer-container {
    padding: 10px 20px 10px 20px;
  }

  .section-head-text {
    text-align: center;
  }
}



*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}







    /* Styles for the popup container */
    .popup-container {
      display: none;
      position: fixed;
      margin: auto;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      align-items: center;
      justify-content: center;
  }

  /* Styles for the popup content */
  .popup-content {
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      text-align: center;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  /* Close button style */
  .popup-close {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
  }

/* Close button style */
.popup-close-button {
margin-top:10px;
background-color:#053B50;
color: #fff;
border: none;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
}
.popup-close-button:hover{
  background-color: #053B50;
  
  padding: 10px 20px;


}





.footer {
  margin-top: 150px;
  position: relative;
  width: 100%;
  background:#053B50;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("/images/wave1.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
